<footer class="footer footer-black  footer-white ">
    <div class="container-fluid">
      <div class="row">
        <nav class="footer-nav">
          <ul>
            <li>
              <a href="https:/smart-powergrid.000webhostapp.com" target="_blank">powergrid</a>
            </li>
            <li>
              <a href="https:/smart-powergrid.000webhostapp.com/about.php" target="_blank">About</a>
            </li>
            <li>
              <a href="https:/smart-powergrid.000webhostapp.com/license" target="_blank">Licenses</a>
            </li>
          </ul>
        </nav>
        <div class="credits ml-auto">
          <span class="copyright">
            ©
            <script>
              document.write(new Date().getFullYear())
            </script>, made  by IIITH Students
          </span>
        </div>
      </div>
    </div>
  </footer>
</div>
</div>
  <script src="../static/js/core/jquery.min.js"></script>
  <script src="../static/js/core/popper.min.js"></script>
  <script src="../static/js/core/bootstrap.min.js"></script>
  <script src="../static/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <script src="../static/js/plugins/chartjs.min.js"></script>
  <script src="../static/js/plugins/bootstrap-notify.js"></script>
  <script src="../static/js/paper-dashboard.min.js" type="text/javascript"></script>
